module.exports = {

  baseURL: "https://admin.shoplineapp.com", // before deployment // engineer

	account: [
    {
      id: "admin",
      email: "testuser@shoplineapp.com",
      password: "1234567890",
      handle: "testuser",
      tags: ['admin']
    }, 
    <%= users %> 
  ]

}
